/*funete*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

html{
    scroll-behavior:smooth;
    font-size: 62.5%; /*es igual a 10 px y a un rem*/
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: Poppins, 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    
}

/*Display*/
.none{
    display: none;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

/*Secciones*/

.section-1{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*global*/

a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

body{
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

input{
    background-color: transparent;
    border: none;/*
    background-color: #efefef;
    display: flex;
    justify-content: flex-start;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;*/
}

input:focus {
    outline: none;
  }

button{
    border: none;
    background-color: transparent;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2rem;
}

.bx-my{
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
}

.boton{
    padding: .2rem .8rem;
    border: .1rem solid transparent;
    border-radius: .5rem;
}

.boton__a{
    color: #F29F05;
    background-color: transparent;
    transition: all 200ms;
    transition-delay: 200ms;
    border: .1rem solid #F29F05;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.boton__a:hover{
    color: #fff;
}

.boton__a::before{
    content: "";
    border: .1rem solid #F29F05;
    position: absolute;
    background-color: #F29F05;
    width: 100%;
    height: 100%;
    left: 0rem;
    bottom: -3.8rem;
    transform: scaleX(0);
    z-index: -1;
    transition: all 200ms;
    transform-origin: 0 0;
}

.boton__a:hover::before{
    transform: scaleX(1);
}

.boton__a::after{
    content: "";
    border: .1rem solid #F29F05;
    position: absolute;
    background-color: #F29F05;
    width: 100%;
    height: 100%;
    left: 0rem;
    bottom: 0rem;
    transform: scaleY(0);
    z-index: -1;
    transition: all 300ms;
    transition-delay: 200ms;
    transform-origin: bottom;
}

.boton__a:hover::after{
    transform: scaleY(1);
}

.boton__a:not(:hover)::after {
    transform: scaleY(0)
}

.boton__special{
    padding: 1rem;
    border-radius: 1rem;
    border: .1rem solid transparent;
}

.boton__orange{
    cursor: pointer;
    color: #fff;
    background-color: #F29F05;
    transition: all 200ms;
}

.boton__orange:hover{
    border: .1rem solid #F29F05;
    background-color: transparent;
    color: #F29F05;
}

.boton__green{
    cursor: pointer;
    color: #fff;
    background-color: var(--color__green);
    transition: all 200ms;
}

.boton__green:hover{
    border: .1rem solid var(--color__green);
    background-color: transparent;
    color: var(--color__green);
}

.text__boton__complementario p{
    border-bottom: .1rem solid transparent;
    transition: border .5s;
}

.text__boton__complementario:hover p{
    border-bottom: .1rem solid black;
}

.caja__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    position: relative;
}

.inputs{
    border-bottom: .1rem solid #F29F05;
    background-color: transparent;
}

.input__file{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 8rem;
    transition: all 200ms;
    border-radius: 1rem;
    
}
/*
.input__file:hover{
    color: #F29F05;
    border: .1rem solid #F29F05;
    background-color: transparent;
}
*/
input[type="file"]{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #f29f0568;
}

.buscador{
    background-color: rgba(0, 0, 0, 0.2);
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 1rem;
    width: 30rem;
}

.box__box{
    border: none;
}

.box__box{
    color: #fff;
    background-color:  var(--color__red);
    border-radius: 1rem;
    overflow: hidden;
}

.box__box__1{
    color: #fff;
    background-color:  var(--color__purpe__caed);
    border-radius: 1rem;
    overflow: hidden;
    transform: scale(1);
    transition: all 100ms;
    transition-delay: 200ms;
}

.box__box__2{
    color: #fff;
    background-color:  var(--color__orange__caed);
    border-radius: 1rem;
    overflow: hidden;
    transform: scale(1);
    transition: all 100ms;
    transition-delay: 200ms;
}

.box__box__3{
    color: #fff;
    background-color:  var(--color__yellow__caed);
    border-radius: 1rem;
    overflow: hidden;
    transform: scale(1);
    transition: all 100ms;
    transition-delay: 200ms;
}

.box__box__4{
    color: #fff;
    background-color:  var(--color__green__caed);
    border-radius: 1rem;
    overflow: hidden;
    transform: scale(1);
    transition: all 100ms;
    transition-delay: 200ms;
}

.box__box__5{
    color: #fff;
    background-color:  var(--color__green);
    border-radius: 1rem;
    overflow: hidden;
    transform: scale(1);
    transition: all 100ms;
    transition-delay: 200ms;
}

.box__box__1:hover{
    transform: scale(1.02);
}

.box__box__2:hover{
    transform: scale(1.02);
}

.box__box__3:hover{
    transform: scale(1.02);
}

.box__box__4:hover{
    transform: scale(1.02);
}

.box__box__5:hover{
    transform: scale(1.02);
}

.box__box:hover{
    transform: scale(1.08);
}

.box__bx i{
    display: grid;
    place-items: center;
    border-radius: 1rem;
    border: .1rem solid transparent;
    padding: 0.39rem;
    text-align: center;
    width: 4.5rem;
    height: 4.5rem;
    color: #fff;
    transition: all 200ms;
    transition-delay: 100ms;
}

.box__bx2 i{
    display: grid;
    place-items: center;
    border-radius: 1rem;
    border: .1rem solid transparent;
    padding: 0.39rem;
    text-align: center;
    width: 4.5rem;
    height: 4.5rem;
    color: var(--color__green);
    transition: all 200ms;
    transition-delay: 100ms;
}

.box__bx2 i:hover{
    color: var(--lima-600);
}

.box__bx__purpe i:hover{
    color: var(--color__purpe__caed);
    border: .1rem solid var(--color__purpe__caed);
}

.box__bx__green__base i:hover{
    color: var(--color__green);
    border: .1rem solid var(--color__green);
}

.box__bx__green i:hover{
    color: var(--color__green__caed);
    border: .1rem solid var(--color__green__caed);
}

.box__bx__orange i:hover{
    color: var(--color__orange__caed);
    border: .1rem solid var(--color__orange__caed);
}

.box__bx__red i:hover{
    color: var(--color__red);
    border: .1rem solid var(--color__red);
}

.box__bx__yellow i:hover{
    color: var(--color__yellow__caed);
    border: .1rem solid var(--color__yellow__caed);
}

.hover__1{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.hover__1::before{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    bottom: -4.1rem;
    left: 0;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all 100ms;
    z-index: -1;
}

.hover__1:hover::before{
    transform: scaleX(1);
}

.hover__1::after{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: all 200ms;
    transition-delay: 100ms;
    z-index: -1;
}

.hover__1:hover::after{
    transform: scaleY(1);
}

.hover__2{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.hover__2::before{
    content: '';
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    bottom: 0rem;
    left: 0;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all 300ms;
    z-index: -1;
}

.hover__2:hover::before{
    transform: scaleX(1);
}

.box__bx__v2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: transparent;
    width: 3rem;
    border-radius: 100%;
    transition: 200ms;
    cursor: pointer;
}

.box__bx__v2:hover{
    background-color: var(--white-100);
}

.bx-my-v2{
    cursor: pointer;
}

.box__bx__v3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: transparent;
    width: 4rem;
    border-radius: 100%;
    transition: 200ms;
    cursor: pointer;
}

.box__bx__v3:hover{
    background-color: var(--white-100);
}


/* V2 */
.v2__section__button{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4rem;
}

.v2__boton{
    padding: .5rem 1.2rem;
    cursor: pointer;
    border-radius: .5rem;
    border: .1rem solid transparent;
}

.v2__confirmar{
    background-color: var(--lima-500);
    color: var(--white-50);
    position: relative;
    z-index: 1;
}

.v2__cancelar{
    background-color: var(--monza-700);
    color: var(--white-50);
    position: relative;
    z-index: 1;
}

.v2__simple{
    background-color: var(--white-300);
    color: var(--white-950);
    position: relative;
    z-index: 1;
}

.v2__confirmar::after, .v2__cancelar::after, .v2__simple::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: var(--white-50);
    z-index: -1;
    transition: transform 200ms;
    border-radius: .5rem;
}

.v2__confirmar:hover::after, .v2__cancelar:hover::after, .v2__simple:hover::after{
    transform: scaleY(1);
}

.v2__cancelar:hover {
    border: .1rem solid var(--monza-700);
    color: var(--monza-700);
}

.v2__confirmar:hover{
    border: .1rem solid var(--lima-500);
    color: var(--lima-500);
}

.v2__simple:hover{
    border: .1rem solid var(--white-300);
    color: var(--white-950);
}

.buttonTextV1{
    display: flex;
    align-items: center;
    gap: .5rem;
    border: .1rem solid var(--lima-100);
    color: var(--lima-100);
    transition: 200ms;
    border-radius: .5rem;
    padding: 0 .5rem 0 .5rem;
    cursor: pointer;
}

.buttonTextV1:hover p{
    color: var(--white-50);
}

.buttonTextV1:hover{
    border: .1rem solid var(--lima-500);
    background-color: var(--lima-500);
    gap: 2rem;
}

.buttonTextIconV1{
    display: flex;
    align-items: center;
    gap: .5rem;
    border: .1rem solid var(--web-orange-400);
    transition: 200ms;
    border-radius: .5rem;
    padding: 0 .5rem 0 .5rem;
    cursor: pointer;
}

.buttonTextIconV1:hover p, .buttonTextIconV1:hover i{
    color: var(--white-50);
}

.buttonTextIconV1:hover{
    border: .1rem solid var(--web-orange-500);
    background-color: var(--web-orange-500);
    gap: 2rem;
}

.buttonTextIconV2{
    display: flex;
    align-items: center;
    gap: .5rem;
    border: .1rem solid transparent;
    transition: 200ms;
    border-radius: .5rem;
    padding: 0 .5rem 0 .5rem;
    cursor: pointer;
}

.buttonTextIconV2:hover p, .buttonTextIconV2:hover i{
    color: var(--web-orange-500);
}

.buttonTextIconV2:hover{
    border: .1rem solid var(--web-orange-500);
    gap: 2rem;
}

.pantallaCarga{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: var(--white-50);
}

.taza{
    position: relative;
    width: 14rem;
    height: 15rem;
    border:  .6rem solid black;
    border-radius: .5rem;
    overflow: hidden;
    z-index: 1;
}

.cafe{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #8B4513;
    z-index: -1;
}

.espuma{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
    background-color: #F5F5F5;
}